<div class="container">
    <h3>Danh sách sản phẩm</h3>

    <app-product-list #tagProductList [danhSachSanPham]="dsSanPham"></app-product-list>
    <hr noshade style="height: 2px;" />
    <div class="text-center display-4">Thêm sản phẩm</div>
    <div class="form-group">
        <input #maSP placeholder="Mã sản phẩm" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <input #tenSP placeholder="Tên sản phẩm" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <input #gia placeholder="Giá sản phẩm" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <input type="button" class="btn btn-success" value="Thêm sản phẩm" (click)="themSanPham(maSP.value, tenSP.value, gia.value)" />
        <!-- <button (click)="themSanPham(maSP.value, tenSP.value, gia.value)">Them</button> -->
    </div>
</div>
<!-- multiple: chọn nhìu giá trị -->
<p-calendar [selectionMode]="'multiple'" [(ngModel)]="value"></p-calendar> <br>
<!-- <p-calendar [(ngModel)]="value" [inline]="true"></p-calendar><br> -->

<!-- Editor -->
<p-editor [(ngModel)]="text" [style]="{'height':'320px'}"></p-editor>
<!-- Select -->


<!-- Material -->
<section>
    <div class="example-label">Icon</div>
    <div class="example-button-row">
        <div class="example-flex-container">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>more_vert</mat-icon>
        </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <mat-icon>home</mat-icon>
        </button>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
            <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
          <mat-icon>open_in_new</mat-icon>
        </button>
        </div>
    </div>
</section>